@mixin flex-columns($cols) {
	display: flex;
	columns: $cols;
	flex-wrap: wrap;
}

.Catalogue {
	@media screen and (max-width: 600px) {
		margin: 0;
	}
}

.Catalogue__item {
	margin-bottom: 60px;
}

@media screen and (min-width: 600px) {
	.Catalogue {
		@include flex-columns(2);
	}
}

@media screen and (min-width: 900px) {
	.Catalogue {
		@include flex-columns(4);
	}
}
