.Catalogue {
	margin: 5rem 0;
}

.Catalogue__item {
	margin-bottom: 60px;
}

@media screen and (min-width: 600px) {
	.Catalogue {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.Catalogue__item {
		width: 45%;
	}
}

@media screen and (min-width: 900px) {
	.Catalogue {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 50px;
		width: 100%;
	}

	.Catalogue__item {
		width: 28%;
	}
}
