.Catalogue {
	margin: 5rem 0;
}

.Catalogue__item {
	margin-bottom: 60px;
}

@media screen and (min-width: 600px) {
	.Catalogue {
		display: flex;
		columns: 2;
		flex-wrap: wrap;
	}

	.Catalogue__item {
		width: 45%;
	}
}

@media screen and (min-width: 900px) {
	.Catalogue {
		display: flex;
		columns: 3;
		flex-wrap: wrap;
	}

	.Catalogue__item {
		width: 28%;
	}
}
