@import 'variables';
@use 'sass:color';

$dot-color: darken(complement($mainColor), 40%);
// $dot-color: #8759b4;

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

.Container {
	width: 100%;
	min-height: 100vh;
	background-color: $mainWhite;
	background: linear-gradient(
				90deg,
				$mainWhite ($dot-space - $dot-size),
				transparent 1%
			)
			center,
		linear-gradient($mainWhite ($dot-space - $dot-size), transparent 1%)
			center,
		$dot-color;
	background-size: $dot-space $dot-space;
}
