@import 'variables';
@import 'mixins';

.Header {
	background: $mainColor;
	color: $mainWhite;
	position: sticky;
	top: 0;
	z-index: 10;
}

.Header__body {
	display: flex;
	align-items: center;
	@include mobile {
		flex-direction: column;
	}
}

.Header__about-container {
	height: 250px;
	padding-bottom: 15px;
	width: 100%;
	transition: height 300ms, padding 300ms;
	overflow: hidden;
	@include mobile {
		width: 300px;
		margin: 0 auto;
	}
}

.Header__title {
	overflow: hidden;
	padding: 20px 0;

	@include mobile {
		padding: 5px 0;
	}
	a {
		width: fit-content;
		font-size: 2em;
		font-weight: bold;
		position: relative;
		color: $mainWhite;
		text-decoration: none;
		display: block;
		padding: 2px;
	}
	@include mobile {
		transition: height 300ms, opacity 300ms;
		height: 50px;
		opacity: 1;

		&.Header__title-visible {
			height: 0;
			opacity: 0;
		}
	}
}
.Header__links {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	@include mobile {
		width: 300px;
	}

	.Header__about {
		margin-left: 30px;
		margin-right: auto;
		cursor: pointer;
		@include mobile {
			margin: 0;
		}
	}
}

.Header__cart {
	height: 30px;
	width: 30px;
	position: relative;
	.snipcart-total-items {
		font-weight: bold;
		font-size: 12px;
		color: $mainColor;
		background: $mainWhite;
		width: fit-content;
		min-height: 18px;
		min-width: 18px;
		border-radius: 30px;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(50%, -50%);
	}
}

.Header__summary {
	text-decoration: none;
	color: $mainWhite;
	text-align: center;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.Header__summary__line {
	font-size: 0.8em;
}
