.Product {
	text-decoration: none;
	color: black;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	overflow: hidden;
	transition: box-shadow 500ms, background-color 500ms;

	&:hover {
		background-color: #fcfcfc;
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.45),
			inset 0px 0px rgba(0, 0, 0, 0.25);
	}
}

.Product__image {
	width: 100%;
	height: 100%;
	position: relative;
	margin-bottom: 25px;
	transition: transform 500ms;
	overflow: hidden;

	img {
		width: 100%;
		display: block;
	}
}

.Product__price_wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 14px;
	justify-content: space-between;
	align-items: center;
}

.Product__details {
	padding: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Product__name {
	width: fit-content;
}

.Product__price {
	margin-bottom: 14px;
	margin-left: 7px;
	color: #555;
}

.Product__description {
	margin-bottom: 7px;
}

.Product__buy {
	cursor: pointer;
	text-align: center;
	background: #663399;
	padding: 7px 15px;
	color: white;
	position: relative;
	border-radius: 10px 0px 0px 0px;
	transition: background 500ms;

	&:hover {
		background: #522580;
	}
}

.Product__add-item {
	cursor: pointer;
	text-align: center;
	background: #9167bb;
	padding: 7px 15px;
	color: white;
	position: relative;
	border-radius: 0px 10px 0px 0px;
	transition: background 500ms;

	&:hover {
		background: #8157ac;
	}
}
