.snip-layout.snip-layout {
	z-index: 9999;
	* {
		font-family: 'Comfortaa', cursive;
	}

	.snip-product__name {
		text-transform: none;
	}

	.snip-header {
		background: orange;
	}

	.snip-layout__main-container {
		border-radius: 10px;
		overflow: hidden;
	}

	.snip-header__total {
		border-radius: 5px;
	}
}
